<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(PIPGOGO_DISPLAY_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pipgogo.ios.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pipgogo</string>
			</array>
		</dict>
	</array>
	<key>BackendBaseURL</key>
	<string>$(PIPGOGO_BACKEND_BASE_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>192.168.0.156</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Connect to the PipPipGo development backend on your Mac.</string>
	<key>AppEnvironment</key>
	<string>$(PIPGOGO_APP_ENVIRONMENT)</string>
	<key>CognitoDomain</key>
	<string>$(PIPGOGO_COGNITO_DOMAIN)</string>
	<key>CognitoClientID</key>
	<string>$(PIPGOGO_COGNITO_CLIENT_ID)</string>
</dict>
</plist>
